<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Select STate: <select>
        <option value="MP">MP</option>
        <option value="GUJ">GUJ</option>
        <option value="MAH">MAH</option>
    </select></p>
    
    <p>Enter city : <input type="text"></p>
    <input type="button" value="add">
    <table>
        <tr><th>id</th> <th>city</th> <th>state</th></tr>
    </table>
</body>
</html>